<ion-header>
  <ion-toolbar color="danger">
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
 <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  (click)="showInterstitial()"></ion-back-button>
    </ion-buttons>
    <ion-title>Les actes de l'administration</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
<ion-list><ion-title size="small" color="danger">Titre 3 - LES ACTES DE L'ADMINISTRATION</ion-title></ion-list>
L’administration est conduite à émettre deux séries d’actes opposés. Les actes administratifs
unilatéraux par lesquels l’administration impose sa volonté et les contrats
par lesquels elle s’engage avec des tiers sur la base d’un accord de volonté. Alors que
l’acte administratif unilatéral résume la seule volonté de l’administration, le contrat
résulte d’un consensus entre l’administration et son cocontractant. Nous examinerons
d’abord les actes administratifs unilatéraux (Chapitre 1) et ensuite les contrats
administratifs (Chapitre 2).
<ion-list><ion-title size="small" color="danger">Chapitre 1 - Les actes administratifs
unilatéraux</ion-title></ion-list>
Les autorités administratives prennent des actes qui manifestent leur volonté et
qui s’imposent à leurs destinataires (les administrés). Ces actes se distinguent des
contrats que passe l’administration par leur caractère unilatéral et constituent le
mode normal d’intervention de l’administration. Il nous faudra d’abord procéder à
l’identification des actes administratifs unilatéraux (1) avant d’en décrire le régime
(2).
<ion-list><ion-title size="small">1. L’identification des actes administratifs
unilatéraux</ion-title></ion-list>
Les actes administratifs unilatéraux peuvent prendre des formes variées (décret, arrêté,
décision...) mais la notion recouvre des caractères identiques. Il est dès lors
possible de définir et de délimiter la notion d’acte administratif unilatéral (1) avant
de dresser une classification de la catégorie (2).
<ion-list><ion-title size="small">1.1 La notion d’acte administratif unilatéral</ion-title></ion-list>
L’acte administratif unilatéral peut se définir comme l’acte juridique adopté unilatéralement
par une autorité administrative, portant sur l’ordonnancement juridique
et affectant les droits ou les obligations juridiques des tiers sans leur consentement.
<ion-list><ion-title size="small">1.1.1 L’acte administratif émane d’une personne publique</ion-title></ion-list>
L’acte est administratif parce qu’il émane d’une autorité administrative, c’est-à-dire
d’une personne publique. On parlera de décret du Président de la République ou du premier ministre, de délibération du conseil municipal ou d’arrêté du maire et du
préfet. L’autorité administrative est une personne publique qui est compétente pour
édicter certaines réglementations. Il ne s’agit pas nécessairement d’un fonctionnaire.
L’acte administratif est toujours l’acte de l’administration.
Toutefois, il arrive que le juge administratif reconnaisse la qualité d’acte administratif
unilatéral à des actes édictés par des personnes privées gérant un service public et disposant
de prérogatives de puissance publique (CE 13 janvier 1961 Magnier). Ce sera,
par exemple, le cas des fédérations sportives ou des ordres professionnels (ordre des
avocats, des médecins ...). Dans un arrêt Époux Barbier du 15 janvier 1968 le Tribunal
des conflits a reconnu à certaines dispositions du règlement intérieur d’Air France un
caractère administratif. Le règlement d’Air-France faisait alors interdiction aux hôtesses
de se marier. Le juge des conflits a estimé qu’une telle disposition apparaissait
comme touchant à l’organisation du service et conféré à l’acte litigieux, dans son intégralité
un caractère administratif. Dans ce cas les actes pris par une personne de droit
privé pourront néanmoins faire l’objet d’un recours pour excès de pouvoir devant le
juge administratif.
<ion-list><ion-title size="small">1.1.2 L’acte administratif traduit une seule manifestation de volonté</ion-title></ion-list>
L’acte administratif traduit une seule manifestation de volonté, celle de l’autorité administrative
qui a édicté l’acte (et qui est compétente pour le faire). Le caractère unilatéral
de l’acte ne signifie pas obligatoirement que l’acte doit être édicté par une seule
personne. Plusieurs personnes ont pu concourir à son édiction. C’est par exemple le cas
des décrets pris en conseil des ministres et qui doivent être contresignés par plusieurs
ministres, ou de la délibération d’un conseil municipal qui est le résultat du vote d’une
assemblée constituée de plusieurs personnes. Dans un cas comme dans l’autre, l’acte
final traduit une seule volonté (celle du conseil municipal dans sa globalité) et non la
volonté individuelle de chacun de ses auteurs.
Dans certains cas l’autorité administrative, avant d’edicter l’acte, doit consulter une
autre autorité. Le caractère obligatoire de la consultation ne prive pas l’acte qui fait
suite à la consultation de son caractère unilatéral, dès lors que l’autorité décisionnaire
reste le plus souvent libre du sens et de la portée de sa décision.
<ion-list><ion-title size="small">1.1.3 L’acte administratif affecte l’ordonnancement juridique</ion-title></ion-list>
L’acte administratif unilatéral entraîne des conséquences juridiques par la seule volonté
de son auteur. Il crée des droits et des obligations à la charge des destinataires
de l’acte. La notion d’acte administratif recoupe l’ensemble des règles de droit qui détermine
la situation des sujets de droit en créant des droits et obligations nouvelles. Ce
sera par exemple le cas de l’octroi ou du refus d’une autorisation (permis de construire
ou titre de séjour pour un ressortissant étranger). Ce sera également le cas d’une réglementation
modifiant les conditions d’octroi de ces autorisations individuelles (Plan
Local d’Urbanisme). Dès que ces actes modifient la situation de leurs destinataires, ces
derniers peuvent former un recours pour excès de pouvoir devant le juge administratif
pour en demander l’annulation.
Au contraire, certains actes émanant de l’administration ne sont pas considérés comme
des actes administratifs, car ils ne modifient pas l’ordonnancement juridique et par
conséquent ne peuvent pas faire l’objet d’un recours.
A partir de la définition des actes administratifs unilatéraux, il est possible de délimiter
la catégorie de ces actes par rapport aux autres actes de l’administration et d’élaborer
une classification des différentes catégories d’actes administratifs unilatéraux.
<p>- Les actes préparatoires, c’est-à-dire les actes qui concourent à l’édiction d’un acte
administratif mais ne constituent pas en eux même la décision (rapports, notes, réponses
faites aux parlementaires, avis obligatoires ou facultatifs)</p>
<p>
- Les circulaires (et les directives), qui sont des documents formulés à l’intention des
agents et constituent des instructions que les ministres adressent à leur administration
en vue d’une application uniforme du droit. Si une circulaire contient des dispositions
à caractère général et faisant grief aux administrés, elle doit être qualifié
de circulaire impérative (CE 18 décembre 2002 Duvignères). Dès lors, elles peuvent
faire l’objet d’un recours.</p>
<p>
- Les mesures d’ordre intérieur, qui sont de simples mesures d’organisation du service
et qui ne peuvent donc faire l’objet d’un recours (affectation d’un élève dans une
classe, affectation d’un agent à certaines fonctions).</p>
<ion-list><ion-title size="small">1.2 La classification des actes administratifs unilatéraux</ion-title></ion-list>
Il est d’usage de classer les actes administratifs en deux catégories : les actes réglementaires,
qui ont une portée générale et impersonnelle et les décisions individuelles. Les
actes réglementaires sont ceux qui ont une portée générale et impersonnelle comme
la loi. Ils entrent en vigueur dès leur publication et transmission, pour les actes des
collectivités territoriales.
Les décisions individuelles sont les actes par lesquels une autorité administrative décide
d’octroyer ou de refuser un avantage à une seule personne nommément désignée
(octroi ou refus d’un permis de construire). Le régime de ces actes est sensiblement
différent de celui des actes réglementaires. Comme ces derniers ils doivent faire
l’objet d’une mesure de publicité (on parle de notification à la personne intéressée)
et éventuellement d’une transmission en préfecture. Par ailleurs, alors que pour les
décisions réglementaires les facultés d’intenter un recours pour excès de pouvoir sont
largement ouvertes, pour les décisions individuelles, les conditions de recevabilité sont
plus strictes. Le requérant doit se prévaloir d’un intérêt à agir individualisé. Mais la
distinction entre les deux catégories d’actes résulte de leur mode d’édiction. Alors que
les actes réglementaires sont toujours écrits, les décisions individuelles peuvent naître
du silence de l’administration (cette question sera examinée en détail dans la partie
consacrée à l’élaboration des décisions administratives).
<ion-list><ion-title size="small">2. Le régime des actes administratifs</ion-title></ion-list>
Le régime des actes administratifs unilatéraux peut être examiné au travers des conditions
d’élaboration de l’acte, des conditions et des modalités de son exécution et enfin
de sa disparition.
<ion-list><ion-title size="small">2.1 L’élaboration de l’acte administratif</ion-title></ion-list>
L’élaboration des actes administratifs répond à des règles de formes et de procédure
mais également à une obligation de motivation.
<ion-list><ion-title size="small">2.1.1 Les formes et les procédures d’édiction de l’acte</ion-title></ion-list>
L’acte administratif se présente le plus souvent sous la forme d’un écrit pour lequel le
respect de certaines formes est obligatoire. A défaut de comporter certaines mentions
substantielles l’acte serait annulable. Au titre de ces mentions obligatoires se trouve le
nom de l’autorité qui édicte l’acte, le visa des textes servant de base à l’acte, l’énoncé
des motifs de la décision, la signature de l’auteur de l’acte. Ces obligations sont principalement
d’ordre formel.
D’autres obligations pèsent sur l’administration dans l’édiction des actes administratifs
et tiennent à l’obligation de consulter certaines autorités avant de décider. La loi ou le
règlement impose parfois à l’autorité compétente de consulter un organe particulier
sous peine d’illégalité (cas des avis obligatoires). Par exemple, avant de prendre une
sanction administrative du deuxième groupe, l’autorité administrative doit obligatoirement
convoquer un conseil de discipline. D’autres obligations processuelles peuvent
tenir à l’obligation de communiquer son dossier à l’agent qui fait l’objet d’une mesure
prise en considération de la personne. L’administration peut encore être astreinte à
respecter les principes du contradictoire lorsqu’elle édicte une mesure qui présente le
caractère d’une sanction. Dans certains cas la légalité de l’acte administratif peut dépendre
directement des conditions dans lesquelles l’autorité compétente a été amenée
à se prononcer. Par exemple pour que la délibération d’un conseil municipal soit
régulière il faut que l’assemblée ait été convoquée dans un certain délai et que la
convocation fasse une mention exacte de l’ordre du jour.
Enfin, une dernière remarque tient à l’édiction des décisions individuelles. Celles-ci
peuvent naître soit d’une décision expresse de l’administration soit du silence gardé
par l’administration (décision implicite). La loi du 12 avril 2000 prévoit que le silence
gardé par l’administration pendant une durée de deux mois vaut décision de rejet.
Cette décision implicite de rejet pourra faire l’objet d’un recours pour excès de pouvoir
devant le juge administratif. Par exception, lorsqu’un texte le prévoit, le silence peut
valoir acceptation. A ce titre, l’article R. 421-12 du Code de l’urbanisme prévoit qu’à
défaut de décision expresse de l’administration en matière de permis de construire
dans un délai de deux mois le permis est réputé tacitement accordé.
<ion-list><ion-title size="small">2.1.2 Le contenu et les motifs de l’acte</ion-title></ion-list>
L’acte administratif pour être légal doit satisfaire un but d’intérêt général. Lorsque
l’autorité administrative édicte un acte administratif dans un but autre que celui dicté
par l’intérêt général elle commet un détournement de pouvoir (cf. les cas d’ouverture
du recours pour excès de pouvoir). Pour que le juge administratif soit en mesure de
s’assurer que l’administration agit bien dans le souci de satisfaire l’intérêt général et
ne commet pas d’erreur de droit ou de fait la loi impose à l’administration de communiquer
les motifs de sa décision. La loi du 11 juillet 1979 impose la motivation des actes
administratifs individuels contenant une mesure défavorable pour les administrés ou
dérogeant aux règles générales fixées par les lois et règlements. A ce titre, doivent
notamment être motivées : les mesures individuelles de police, les sanctions disciplinaires,
le retrait d’une autorisation individuelle. Enfin, la loi du 12 avril 2000 est venue
clarifier et renforcer les obligations de l’administration, notamment en élargissant et
en facilitant le droit d’accès aux documents administratifs. La loi élargie également les
compétences de la CADA (Commission d’accès aux documents administratifs), l’organe
chargé de d’agir auprès de l’administration en vue de faciliter l’accès aux documents
administratifs.
<ion-list><ion-title size="small">2.2 L’exécution de l’acte administratif</ion-title></ion-list>
Les dispositions contenues dans un acte administratif unilatéral deviennent obligatoires
à compter du moment où l’acte est entrée en vigueur dans l’ordonnancement
juridique. Or, l’acte administratif ne commence à produire ses effets qu’à compter de
sa publication ou de sa notification.
<ion-list><ion-title size="small">2.2.1 L’entrée en vigueur de l’acte</ion-title></ion-list>
C’est à partir de son entrée en vigueur que l’acte administratif produira ses effets. C’est
également à compter de son entrée en vigueur que les délais de recours commencent
à courir. Pour qu’un acte administratif entre dans l’ordonnancement juridique il doit
faire l’objet d’une mesure de publicité (la loi est publiée au Journal officiel). Les actes
réglementaires font normalement l’objet d’une publication, alors que les actes nonrèglementaires
font normalement l’objet d’une notification.
<ion-list><ion-title size="small">A - La publication des actes réglementaires</ion-title></ion-list>
Les actes réglementaires édictés par les autorités de l’État produisent leurs effets à
l’égard des administrés à compter de leur publication au journal officiel ou dans les
bulletins officiels des ministères. Les actes des collectivités territoriales produisent
leurs effets à compter de leur publication par voie d’affichage ou d’insertion dans la
presse, et de leur transmission au représentant de l’État. Pour les communes de plus
de 3 500 habitants les actes ayant un caractère réglementaire doivent faire l’objet
d’une publication dans un recueil des actes administratifs publiés de façon trimestrielle
et tenu, en mairie, à la disposition du public.
<ion-list><ion-title size="small">B - La notification des décisions individuelles</ion-title></ion-list>
Les décisions administratives individuelles prises par les autorités de l’État entrent en
vigueur dès leur notification à leur destinataire. Les décisions individuelles prises par les
autorités des collectivités territoriales doivent en outre être transmises en préfecture.
On rajoutera qu’une fois entré en vigueur l’acte administratif (acte réglementaire et
décision individuelle) ne produit ses effets que pour l’avenir. En principe les actes administratifs
ne peuvent avoir d’effet rétroactif (CE 25 juin 1948 Sté du journal l’Aurore).
<ion-list><ion-title size="small">2.2.2 L’exécution matérielle de l’acte</ion-title></ion-list>
Une fois entré en vigueur l’acte administratif déploie ses effets. Il peut donc être exécuté
puisqu’il bénéficie d’une présomption de légalité. Cela signifie que même si un
administré conteste la légalité d’un acte administratif son recours devant le juge administratif
n’est pas suspensif. Il existe toutefois une procédure de référé-suspension
qui permet au juge de suspendre l’exécution de l’acte dans l’attente que le juge de
l’excès de pouvoir se prononce sur sa légalité (cf. contentieux administratif).
Le plus souvent l’exécution des actes administratifs ne pose aucun problème. L’administré
exécute l’acte de sa propre volonté alors même que son contenu lui serait défavorable
(certains actes administratifs ne supposent aucune exécution. C’est par exemple
le cas des décisions de refus tel que le refus d’accorder un permis de construire). Toutefois,
si l’administré refuse d’exécuter l’acte de sa propre volonté, l’administration
dispose de plusieurs moyens pour le contraindre à exécuter ses obligations :
<p>- L’administration peut recourir à l’exécution forcée. Le recours à l’exécution forcée
n’est toutefois possible que si l’administration ne dispose d’aucune autre solution
et elle doit être strictement nécessaire à l’exécution de l’acte (TC 2 décembre 1902
Sté immobilière de Saint Just).</p>
<p>
- En cas d’urgence, il est admis que l’administration peut recourir sans condition à
l’exécution forcée</p>
<p>
- En situation extrême, l’administration peut recourir à des sanctions pénales pour
violation d’un règlement administratif. Des sanctions administratives peuvent également
être prises contre un administré qui refuse de se plier aux obligations découlant
d’un acte administratif (fermeture d’un débit de boissons).</p>
<ion-list><ion-title size="small">2.3 La fin de l’acte administratif</ion-title></ion-list>
Les actes administratifs ne sont en principe pas édictes pour une durée limitée. Il incombe
donc à l’autorité administrative de mettre fin à un acte réglementaire ou à une
décision individuelle lorsqu’elle le juge nécessaire. Avec la disparition de l’acte cessent
les effets juridiques qui étaient attachés à l’acte. Mais il faut distinguer deux hypothèses
en fonction des effets provoqués par la disparition de l’acte. La première hypothèse
consiste à abroger l’acte, la seconde à le retirer de l’ordonnancement juridique.
<ion-list><ion-title size="small">2.3.1 L’abrogation de l’acte</ion-title></ion-list>
L’abrogation de l’acte est l’hypothèse la plus simple puisque l’acte abrogé disparaît et
cesse de produire ses effets pour l’avenir. L’abrogation d’un acte réglementaire est toujours possible car nul n’a un droit acquis au maintien d’une réglementation.
L’administration
peut à tout moment mettre fin à une réglementation ou la modifier à condition
de respecter le parallélisme des compétences. Seule l’autorité qui a édicté la réglementation
peut y mettre un terme. Dans certains cas l’abrogation est obligatoire. C’est le
cas si l’acte est illégal des l’origine ou s’il le devient suite à une modification des circonstances
de droit ou de fait par rapport aux circonstances existantes lors de son édiction.
L’administration est par exemple dans l’obligation d’abroger les règlements contraires
aux dispositions issues du droit communautaire (CE 3 février 1989 Alitalia).
L’abrogation ou la modification d’un acte individuel ne pose pas davantage de problème
et obéit aux mêmes règles que celles de l’abrogation de l’acte réglementaire.
Toutefois, si l’acte a fait naître des droits au profit d’un particulier (nomination d’un
fonctionnaire, permis de construire), il ne peut être abrogé que dans le respect des
procédures prévues par les textes (pour un fonctionnaire l’abrogation du statut ne
peut intervenir que dans l’hypothèse d’une démission, d’un licenciement ou d’une
sanction disciplinaire).
<ion-list><ion-title size="small">2.3.2 Le retrait de l’acte</ion-title></ion-list>
Le retrait des actes administratifs est plus complexe que l’abrogation car le retrait
entraîne la disparition rétroactivité de l’acte. L’acte est donc censé ne jamais avoir
existé. La théorie du retrait est bien évidemment une fiction car l’on ne peut jamais
revenir dans le temps. Elle consiste seulement à revenir sur les conséquences juridiques
d’un acte administratif. Se pose alors un problème de sécurité juridique. Dans quelles
conditions l’administration peut elle revenir sur une décision sans porter atteinte à
des situations définitivement constituées ? Il faut donc distinguer deux hypothèses, le
retrait des actes non créateurs de droits et celui des actes créateurs de droits.
<ion-list><ion-title size="small">A - Le retrait des actes non créateurs de droits</ion-title></ion-list>
Si l’acte n’a pas créé de droits au profit des administrés (ce sera le cas des actes réglementaires
et de certains actes individuels, décision qui constate une situation de fait),
son retrait est possible à toute époque.
<ion-list><ion-title size="small">B - Le retrait des actes créateurs de droits</ion-title></ion-list>
Si l’acte est créateur de droits, il faut distinguer deux hypothèses. Soit l’acte est légal
soit l’acte est illégal.
<p>1. L’acte est légal. Dans ce cas le retrait n’est pas possible car son retrait aboutirait à
rendre les actes administratifs rétroactifs. Le retrait reste possible si le bénéficiaire
des droits donne son accord au retrait.</p>
<p>
2. L’acte est illégal. Dans ce cas le retrait est possible mais sous des conditions très
strictes. En effet, il est souhaitable que l’administration puisse elle-même revenir sur
ses actes illégaux, tout en respectant la sécurité des situations juridiques. Le Conseil
d’État, dans un arrêt Dame Cachet du 3 novembre 1922 avait posé deux conditions
au retrait des actes créateurs de droits irréguliers. Le retrait était possible soit dans
les deux mois qui suivaient la notification, soit, si un recours avait était intenté, dans
les deux mois tant que le juge n’avait pas statué. L’administration peut ainsi retirer
un acte pour éviter une annulation. Dans un arrêt Ville de Bagneux du 6 mai 1966, le
Conseil d’État est venu apporter une précision importante à la jurisprudence Dame
Cachet. En effet, dans le but de protéger les droits des tiers à la décision, le juge a
admis que « même si la décision avait fait l’objet d’une notification à la personne
visée par la décision, l’absence de publication ne pouvait faire courir le délai de recours
à l’égard des tiers ». Dans ce cas, l’administration peut, même si aucun recours
n’a était formé par un tiers intéressé, rapporter à tout moment la décision illégale.
La jurisprudence Cachet-Bagneux avait le mérite de calquer les délais du retrait sur
ceux du recours contentieux. Pourtant, cette solution a été remise en cause par le
Conseil d’État dans un arrêt d’assemblée du 26 octobre 2001, Ternon. Désormais,
l’administration peut retirer une décision individuelle explicite créatrice de droits,
si celle-ci est illégale, dans le délai de quatre mois suivant la prise de cette décision
(pour les permis de construire la loi ramène ce délai à 3 mois).</p>
Cette jurisprudence relative au retrait doit permettre de trouver un juste équilibre
entre les exigences de légalité et les préoccupations de sécurité juridique. C’est cette
même préoccupation qui dicte la solution de l’arrêt du Conseil d’Etat du 6 mars 2009,
« Coulibaly », par laquelle le juge administratif a considéré que l’administration ne
peut abroger une décision individuelle créatrice de droit même illégale que dans le
délai de 4 mois suivant son édiction. Ainsi, le régime juridique du retrait et de l’abrogation
des actes créateur de droit se trouve unifié. Passer le délai de 4 mois l’administration
ne peut revenir sur sa décision.
<ion-list><ion-title size="small" color="danger">Chapitre 2 -Les contrats administratifs</ion-title></ion-list>
Les personnes publiques disposent d’un moyen juridique pour réguler leurs relations
avec les tiers, qui se distingue de l’acte administratif par son caractère consensuel. Au
contraire de l’acte unilatéral, le contrat repose sur un accord de volontés. Pourtant,
le contrat n’est pas le mode normal d’intervention de l’administration et lorsqu’il
revêt un caractère administratif il emprunte à la fois les caractéristiques du contrat
que l’on rencontre en droit privé (accord des volontés) et celles de l’acte administratif
(unilatéralité de la volonté). Enfin, tous les contrats que passe l’administration ne
sont pas nécessairement des contrats administratifs. Certains obéissent à un régime
de droit privé. Il nous faudra donc d’abord identifier les contrats administratifs pour
les distinguer des contrats de droit privé avant d’en étudier le régime.
<ion-list><ion-title size="small">1. L’identification des contrats administratifs</ion-title></ion-list>
Tous les contrats passés par les personnes publiques ne sont pas soumis au même
régime. Certains sont des contrats administratifs et on leur applique le droit administratif,
d’autres sont des contrats de droit privé et relèvent de l’application du
droit commun. Ne nous intéressent ici que les contrats qui présentent un caractère
administratif. Ceux-ci se distinguent des contrats de droit privé soit par détermination
de la loi soit en vertu d’un critère jurisprudentiel de qualification.
<ion-list><ion-title size="small">1.1 Les contrats administratifs par détermination de la loi</ion-title></ion-list>
Certains contrats sont administratifs par détermination de la loi. Cela signifie que le
législateur a décidé de les qualifier expressément de contrats administratifs ou de
contrats de droit privé. En cas de litige la nature du contrat détermine la juridiction
compétente. Seul le juge administratif est compétent pour connaître des litiges portant
sur les contrats administratifs.
Sont des contrats administratifs par détermination de la loi les contrats de marchés de
travaux publics ou d’offres de concours (loi du 28 pluviose an VIII), les contrats portant
occupation du domaine public (décret-loi du 17 juin 1938, les contrats en matière
d’emprunt public, les contrats passés en application du Code des marchés publics (loi
MURCEF du 11 décembre 2001). Au contraire sont des contrats de droit privé par détermination
de la loi les contrats emplois jeunes.
<ion-list><ion-title size="small">1.2 Les contrats administratifs en vertu de critère jurisprudentiel
de qualification</ion-title></ion-list>
Dans le silence de la loi, il appartient au juge de déterminer la nature administrative
d’un contrat passé par l’administration. Un contrat sera administratif s’il satisfait au
moins à deux critères. Le premier est organique, il faut que l’une des parties au moins
au contrat soit l’administration. Le second est alternatif, il faut que le contrat fasse
participer le cocontractant de l’administration au service public ou qu’il comporte des
clauses exorbitantes du droit commun.
<ion-list><ion-title size="small">1.2.1 Le critère organique</ion-title></ion-list>
Pour qu’un contrat soit administratif une des deux parties signataires doit être l’administration.
Le contrat passé entre deux personnes privées n’est normalement pas un
contrat administratif.

<ion-list><ion-title size="small">1. L’une des parties au contrat est une personne publique</ion-title></ion-list>
Pour qu’un contrat soit administratif, il faut qu’il soit conclu entre l’administration et
une personne privée. Cette exigence ne suffit pas à conférer au contrat un caractère
administratif (il faut encore que le contrat réponde à l’un des deux critères alternatifs
examinés plus loin), mais elle constitue un préalable indispensable. Le contrat conclu
entre deux personnes publiques est présumé administratif (TC, 21 mars 1983 Union
des Assurance de Paris). Il en va différemment si le contrat ne fait naître entre les
parties que des rapports de droit privé. Ce sera le cas du contrat conclu entre deux
personnes publiques dans lequel l’une des parties est usager d’un SPIC (le contrat qui
lié l’usager d’un SPIC à l’administration est toujours un contrat de droit privé).
<p>
<ion-list><ion-title size="small">2. Les deux parties au contrat sont des personnes privées</ion-title></ion-list>
Le contrat conclu entre deux personnes privées est, en principe, un contrat de droit
privé. Il peut, toutefois, arriver qu’une personne privée passe un contrat de droit administratif.
Cette hypothèse se présentera lorsque le contrat porte sur l’occupation du domaine privé (décret-loi du 17 juin 1938) ou lorsque la personne privée a reçu un
mandat explicite ou implicite pour agir au nom d’une personne publique. Le contrat
portant sur des travaux publics sera également un contrat de droit public même s’il est
conclu entre deux personnes privées (TC, 8 juillet 1963, Sté Entreprise Peyrot, travaux
portant sur la construction d’une autoroute passé par un entrepreneur privé et relatif
à des travaux portant directement sur cette construction).
<ion-list><ion-title size="small">1.2.3 Les critères alternatifs</ion-title></ion-list>
Le contrat conclu par l’administration avec une personne privée n’est administratif
que s’il porte sur l’exécution d’une mission de service public ou comporte une clause
exorbitante du droit commun. La seule présence de l’administration au contrat ne
suffit pas à lui conférer un caractère administratif.
<ion-list><ion-title size="small">1. L’objet du contrat porte sur l’exécution d’une mission de service public</ion-title></ion-list>
Dire que le contrat doit porter sur l’exécution du service public signifie que l’administration
confie à son cocontractant le soin d’exécuter cette mission (CE, 20 avril 1956,
Bertin), soit que la personne publique recrute un agent contractuel qui participe par
ses fonctions à l’exécution du service public (BERKANI et agent des SPIC), soit que l’administration
associe son cocontractant à l’exécution d’une mission de service public.
<ion-list><ion-title size="small">2. Le contrat comporte une clause exorbitante de droit commun</ion-title></ion-list>
Un contrat conclu entre l’administration et une personne privée peut être administratif,
alors même qu’il ne fait pas participer le cocontractant à l’exécution d’une mission
de service public. Dans ce cas, le contrat doit comporter des clauses exorbitantes de
droit commun (CE 31 juillet 1912 Sté des granits porphyroïdes des Vosges). Les clauses
exorbitantes de droit commun sont celles qui confient à l’une des parties au contrat
des pouvoirs particuliers et qui sont inhabituels ou interdits dans un contrat de droit
privé. Par exemple est une clause exorbitante, la clause qui reconnaît à la personne
publique un pouvoir de contrôle et de direction dans l’exécution du contrat ou qui lui
confère un pouvoir de modification ou de résiliation unilatérale même en l’absence
de faute.
Depuis la loi MURCEF, le législateur a élargi la théorie de la clause exorbitante. Dans
le cadre des marchés publics ou des concessions de service public, le contrat est administratif
même s’il ne comporte pas de façon expresse de clause exorbitante. Dans ce
cas, c’est le régime dans son ensemble qui est considéré comme exorbitant de droit
commun (théorie du régime exorbitant).
<ion-list><ion-title size="small">2. Le régime juridique des contrats administratifs</ion-title></ion-list>
Le régime particulier du contrat administratif se traduit à la fois au moment de sa
formation, lors de son exécution et de sa fin.
<ion-list><ion-title size="small">2.1 La formation du contrat</ion-title></ion-list>
La formation du contrat administratif repose sur un accord de volontés entre l’administration
et son cocontractant. Toutefois, le choix par l’administration de la personne
privée avec laquelle elle contracte est parfois encadré.
<ion-list><ion-title size="small">2.1.1 L’accord de volontés</ion-title></ion-list>
La formation d’un contrat suppose un accord de volontés. Chacune des parties doit
donner un consentement libre et éclairé. Dès lors que l’accord de volontés s’est formé,
le contrat devient la loi des parties. La formation du contrat administratif suppose également
que l’autorité qui le signe au nom de la personne publique soit compétente
pour le faire. Dans une collectivité territoriale c’est l’exécutif qui signe le contrat par
délégation de l’organe délibérant. Pour l’État, ce sont les ministres qui sont compétents.
<ion-list><ion-title size="small">2.1.2 Le choix par l’administration de son cocontractant</ion-title></ion-list>
Le choix par l’administration de son cocontractant est en principe libre. Ce choix revêt
un caractère « intuitu personae », c’est-à-dire que l’administration est totalement
libre de choisir la personne ou l’entreprise avec laquelle elle va se lier, tout en respectant
une procédure contraignante en matière de publicité, mise en concurrence et
négociation. Ceci est plus particulièrement le cas en matière de délégation de service
public, car le cocontractant gère un service en lieu et place de l’administration.
Pour ses besoins courants (travaux, fournitures, services), l’application de certaines
législations encadre de façon stricte le choix de l’administration. En effet, le Code des
marchés publics impose à la personne publique contractante des procédures strictes
dans le choix de son cocontractant et dont la méconnaissance entraîne l’illégalité du
contrat. Ces contraintes ont pour but d’assurer une certaine transparence dans la passation
des contrats les plus importants (ces procédures ne s’appliquent qu’aux contrats
qui dépassent un certain montant qui varie en fonction de la nature du marché).
Il existe trois procédures permettant à l’administration de mettre en concurrence les
entreprises avec lesquelles elle contracte, depuis l’entrée en vigueur du code des marchés
publics du 7 janvier 2004. Le décret n°2006-975 du 1er août 2006 portant code
des marchés publics (le troisième en cinq ans !) ne vient pas bouleverser les choses, du
moins sur ce type de procédures. Son principal objectif était d’assurer la transposition
des directives 2004/17/CE et 2004/18/CE du 31 mars 2004.
<ion-list><ion-title size="small">1. L’appel d’offres ou le « choix du mieux disant »</ion-title></ion-list>
L’appel d’offres est la procédure par laquelle la personne publique choisit l’offre économiquement
la plus avantageuse, sans négociation, sur la base de critères objectifs
préalablement portés à la connaissance des candidats. Les critères sont variables selon
l’objet du marché et peuvent contribuer, par exemple, à la protection de l’environnement
ou à l’insertion professionnelle de certains publics. Cette procédure est appliquée,
pour les marchés de travaux, à partir de 4 845 000 euros HT, et de 193 000 euros
HT en fournitures et services.
<ion-list><ion-title size="small">2. Les procédures négociées</ion-title></ion-list>
Une procédure négociée est une procédure par laquelle la personne publique choisit
le titulaire du marché après consultation de candidats et négociation des conditions
du marché avec un ou plusieurs d’entre eux. Ces marchés revêtent donc un formalisme
moins contraignant.
<ion-list><ion-title size="small">3. Les procédures adaptées</ion-title></ion-list>
La procédure adaptée est celle où les marchés sont passés selon les modalités de publicité
et de mise en concurrence déterminées par la collectivité en fonction de leur
objet et de leurs caractéristiques. Ils s’appliquent pour tous les achats d’un montant
inférieur à 193 000 euros HT en fournitures et services, et inférieur à 4 845 000 euros
HT pour les marchés de travaux. Il en va de même pour tous les marchés de l’article
30 du code des marchés publics (services culturels, prestations juridiques,…), quel que
soit leur montant.
<ion-list><ion-title size="small">2.1.3 L’obligation de transmission</ion-title></ion-list>
La loi de décentralisation du 2 mars 1982 a établi une liste d’actes devant être obligatoirement
transmis au représentant de l’État afin de lui permettre d’exercer son
contrôle de légalité. Cela rend alors l’acte exécutoire de plein droit. Le Conseil d’Etat
a alors fait application de cette règle formelle comme devant une cause de nullité
des contrats en cas d’absence de cette transmission (avis du 10 juin 1996, « Préfet de
Côte-d’Or »).
Toutefois, le juge administratif est revenu sur cette position par un arrêt récent du 28
décembre 2009 « Commune de Béziers ». En l’espèce, par une convention signée le
10 octobre 1986, une commune, Villeneuve-les-Béziers, s’engage auprès d’une autre,
Béziers, à lui verser une part de la taxe professionnelle qu’elle perçoit suite à une relocalisation
d’entreprises qui étaient initialement situées sur la commune de Béziers.
La commune de Villeneuve-les-Béziers informe son cocontractant 10 ans plus tard de
sa volonté de résilier cette convention. Cette dernière avait été signée avant que les
délibérations des 29 septembre et 3 octobre 1986 n’aient été transmis, ce qui a été
fait postérieurement le 16 octobre 1986. Dans un souci de sécurité juridique, le Conseil
d’Etat annule la décision des premiers juges qui avaient déclaré le contrat nul, au
motif que l’absence de transmission n’est pas un vice d’une particulière importance
entrainant la nullité du contrat.
<ion-list><ion-title size="small">2.2 L’exécution du contrat</ion-title></ion-list>
Alors que le contrat de droit privé repose sur le dogme de l’autonomie de la volonté,
le contrat administratif est profondément inégalitaire. En effet, toutes les obligations
liées à l’exécution du contrat ne trouvent pas uniquement leur source dans la commune
intention des parties, mais également dans la volonté unilatérale de l’administration.
Compte tenu des exigences de l’intérêt général et des contraintes du service
public, l’exécution du contrat administratif est soumise à des contraintes particulières.
Ces contraintes spécifiques au contrat administratif se traduisent dans les prérogatives
particulières dont l’administration dispose. En contrepartie le juge administratif assure
au cocontractant de l’administration un droit à l’équilibre financier.
<ion-list><ion-title size="small">2.2.1 Les prérogatives de l’administration</ion-title></ion-list>
Les prérogatives dont dispose l’administration se justifient par la nécessité d’obliger
le cocontractant à exécuter ses obligations conformément aux dispositions du contrat.
La personne publique se voit ainsi reconnaître les prérogatives suivantes :
<p>- Un pouvoir de direction et de contrôle. L’administration peut contrôler en cours
d’exécution son cocontractant et si nécessaire lui donner des ordres nécessaires à la
bonne exécution de ses engagements.</p>
<p>
- Un droit d’obliger le cocontractant à adapter les modalités d’exécution du contrat
aux évolutions techniques.</p>
<p>
- Un droit de modifier unilatéralement le contrat pour l’adapter aux évolutions et
aux exigences de l’intérêt général.</p>
<p>
- Un droit de sanctionner le cocontractant lorsqu’il ne respecte pas ses obligations.
Ces sanctions peuvent être pécuniaires, coercitives (exécution forcée), ou résolutoires
(résolution du contrat pour faute).</p>
<p>
- Un droit de résilier le contrat sans faute du cocontractant. Dans ce cas, la résiliation
est justifiée par l’intérêt général.</p>
<ion-list><ion-title size="small">2.2.2 Le droit du cocontractant à l’équilibre financier</ion-title></ion-list>
En contrepartie de la prestation qu’il fournit à l’administration le cocontractant a
bien évidemment droit à une rémunération. Il s’agit tout simplement du paiement du
prix prévu au contrat. En outre, ce dernier bénéficie du droit à l’équilibre financier du
contrat lorsque l’administration lui impose des sujétions imprévues. Ce droit prend la
forme d’une indemnité qui lui est versée dans deux cas :
<p>- le droit à indemnisation joue, en premier lieu, en cas de fait du prince. C’est-à-dire,
lorsque l’administration impose à son cocontractant des charges financières nouvelles
et modifie unilatéralement le contrat (contraintes techniques nouvelles qui
augmentent le coût financier de la prestation);</p>
<p>
- le droit à indemnisation joue également en cas d’imprévision. C’est-à-dire, lorsqu’un
événement imprévisible à la conclusion du contrat (hausse imprévisible des
matières premières, crise économique grave), et indépendant de la volonté des parties
vient bouleverser l’économie du contrat. La théorie de l’imprévision permet
d’assurer la continuité du service public.</p>
<ion-list><ion-title size="small">2.3 La fin du contrat</ion-title></ion-list>
Le contrat trouve sa fin normale à la livraison du bien de la fourniture ou du service
dont il fait l’objet. Le contrat trouve encore une fin normale lorsqu’il arrive à
échéance de la période pour laquelle il a été conclu (pour un contrat de concession par
exemple). Ces situations n’appellent pas de remarques particulières. En revanche, dans
certains cas le contrat est résilié avant son terme normal. Cette résiliation peut résulter d’un accord entre les parties comme c’est le cas en droit privé. Mais, la particularité
du droit administratif est de permettre à l’administration et au juge administratif de
résilier le contrat sans l’accord du cocontractant.
<ion-list><ion-title size="small">2.3.1 La résiliation à l’initiative de l’administration</ion-title></ion-list>
L’administration dispose de la faculté de résilier le contrat soit pour sanctionner une
faute de son cocontractant (résiliation pour faute), soit en dehors de toute faute du
cocontractant pour des motifs tirés de la continuité du service public, de son adaptation
aux changements techniques ou de la satisfaction de l’intérêt général. Dans ce
second cas qui est une des manifestations de la théorie du fait du prince, le cocontractant
a droit à une indemnité qui assure l’équilibre du contrat (pour compenser les
investissements qui ne sont pas encore amortis par l’exploitation du service public).
<ion-list><ion-title size="small">2.3.2 La résiliation par le juge administratif</ion-title></ion-list>
L’intervention du juge administratif pour résilier le contrat peut intervenir:
<p>- soit à la demande du cocontractant de l’administration en cas de faute grave de
cette dernière ou encore en cas de force majeure;</p>
<p>
- soit lorsque le contrat lui-même impose le recours au juge pour sa résiliation;</p>
<p>
- soit lorsque le contrat a été passé en méconnaissance des règles posées par le code
des marchés publics ou la loi Sapin de 1993;</p>
<p>
- soit encore, à la demande de la personne publique lorsque son cocontractant a
commis une faute et qu’elle ne peut résilier elle-même le contrat ou lorsque l’équilibre
du contrat est bouleversé de façon définitive et que le recours à la théorie de
l’imprévision est inefficace ou lorsque surviennent des faits qui rendent impossible
l’exécution du contrat.</p>
<ion-list><ion-title size="small">2.3.3 Le recours contentieux des tiers au contrat</ion-title></ion-list>
Par un arrêt d’Assemblée du 16 juillet 2007, « Société Tropic travaux signalisation »,
le Conseil d’Etat vient apporter une nouvelle pierre à l’édifice du contentieux des
contrats administratifs en créant un nouveau recours au profit des concurrents évincés
lors de la passation d’un contrat public. En effet, le juge indique que, « indépendamment
des actions dont les parties au contrat disposent devant le juge du contrat, tout
concurrent évincé de la conclusion d’un contrat administratif est recevable à former
devant ce même juge un recours de pleine juridiction contestant la validité de ce
contrat ou de certaines de ses clauses, qui en sont divisibles, assorti, le cas échéant,
de demandes indemnitaires ». Il s’agit donc d’un recours de plein contentieux, donc
indemnitaire (et non de légalité), ouvert aux candidats évincés de la procédure d’attribution,
dans un délai de deux mois à compter de la date à laquelle une mesure de
publication appropriée de l’attribution du marché en question a été réalisée. Même
si la logique de cet arrêt est claire (notamment du point de vue des évolutions en
cours du droit communautaire des marchés publics), son application ne va pas aller
s’en poser des difficultés assez importantes pour les collectivités territoriales, tant par
exemple au niveau des avis d’attribution que du risque d’insécurité juridique que le
délai de recours de deux mois fera peser sur le contrat.



</ion-content>
