<ion-header>
  <ion-toolbar color="danger">
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
 <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  (click)="showInterstitial()"></ion-back-button>
    </ion-buttons>
    <ion-title>Introduction générale</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content padding>
<ion-list><ion-title size="small" color="danger">
INTRODUCTION GENERALE 
</ion-title></ion-list>
<p>Le premier travail du juriste consiste à définir les concepts qu’il utilise, et plus précisément
l’intitulé de la discipline qui est la sienne. Dès lors, qu’est-ce que le droit ?</p>
<p>Nos premiers développements seront donc consacrés à délimiter et à décrire le
champ de la discipline que nous allons ensuite étudier.</p>
<p>Au sens large, le droit est un ensemble de règles qui ont pour fonction de régir
les rapports entre les individus ou les institutions, dans un lieu donné, pour une
période précise. </p>
<p>La règle de droit est donc une règle de conduite sociale dont le
respect est assuré par l’autorité publique. Cette première approche de la règle de
droit est objective. </p>
<p>Il s’agit d’envisager un ensemble de règles données tendant à
régir un ensemble de situations. À cette conception objective de la règle, on oppose
une conception subjective aux termes de laquelle le droit est un ensemble de prérogatives
dont une personne est titulaire en application d’une règle juridique. Pour
simplifier cette distinction entre droit objectif et droits subjectifs, on parlera du «
droit de » dans les premier cas et du « droit à » dans le second. </p>
Cependant, c’est la conception objective du droit qui retiendra principalement notre attention. 
Il nous faudra en préalable définir de quelle discipline relève notre domaine pour ensuite
replacer le droit constitutionnel au sein de l’ensemble de la matière juridique.
<ion-list>
<ion-title size="small" color="danger">Paragraphe I – De quelle discipline relève notre
domaine</ion-title></ion-list>
Le droit est donc un ensemble de règles juridiques ayant pour fonction de régir les
rapports sociaux, et pour finalité de traduire ces rapports. La règle de droit doit
donc s’envisager à la fois au regard de ses caractéristiques et de sa finalité.
<ion-title size="small">A – Les caractères de la règle de droit</ion-title>
Traditionnellement, la règle de droit est obligatoire, générale et impersonnelle, et
permanente.
<ion-title size="small">a. La règle de droit est obligatoire</ion-title>
La règle de droit est une règle de conduite sociale dont le respect est assuré par l’autorité
publique. Pourtant, le droit n’est pas la seule règle de conduite sociale. La religion,
la philosophie, la morale ou encore les règles de politesse ont également pour objet
de régir la vie en société. Mais, alors que les règles de morale ne commandent qu’à
la conscience individuelle, les règles de droit sont obligatoires et leur non-respect est
sanctionné.
Ce qui caractérise la règle de droit et la distingue des autres règles de conduite sociale,
ce n’est pas son contenu, mais son caractère obligatoire, général et permanent.
La règle de droit est avant tout obligatoire pour tous ceux à qui elle s’applique. Celui
qui ne respect pas la règle encoure une sanction. De sont côté, le justiciable lésé par le
non-respect dispose de moyens de faire exécuter les obligations dont il est le bénéficiaire
(démolition, saisie de bien, sanction pécuniaire…). La règle de droit est un ordre
qui s’impose à tous en dehors de tout consentement.
<ion-title size="small">b. La règle de droit est générale et impersonnelle</ion-title>
La règle de droit est ensuite générale, cela signifie qu’elle est rédigée en termes abstraits.
Elle ne s’applique pas à telle ou telle personne désignée nommément, mais à
toute personne sans distinction, ou à une catégorie de personnes. La généralité de
la règle constitue une garantie contre les discriminations et l’arbitraire. Les règles de
circulation édictées par le Code de la route s’appliquent à tous les automobilistes sans
considérations individuelles. Cela n’interdit pas cependant de considérer différemment
des catégories différentes d’usager en fonction de l’ancienneté de leur permis
de conduire ou du type de véhicule qu’ils utilisent.
<ion-title size="small">c. La règle de droit est permanente</ion-title>
En dernier lieu, la règle de droit est permanente, cela signifie qu’elle s’applique sans
interruption et non qu’elle a vocation à l’éternité. Toute loi a un début et une fin.
Certaines lois prévoient elles-mêmes leur fin (en droit anglo-saxon, on parle de Sunset
Law), d’autres sont abrogées par de nouvelles dispositions, mais aucune règle de droit
ne s’applique indéfiniment.
<ion-title size="small">B. La finalité de la règle de droit</ion-title>
Une étude limitée au droit en vigueur nous conduirait à envisager les phénomènes
juridiques sous l’angle purement contentieux, en ne retenant pour comprendre les
phénomènes sociaux que la loi ou la jurisprudence.
Pour ne pas envisager la règle de droit indépendamment du fonctionnement de la
société, on peut considérer qu’elle est à la fois un instrument de médiation et, ensuite,
un instrument d’intervention. Si la règle de droit se distingue des règles de morale,
comme nous l’avons déjà dit plus haut, la règle de droit ne s’oppose pas pour autant
aux autres règles qui régissent les rapports sociaux. Au contraire, la règle de droit tisse
un lien entre les pratiques sociales et la codification des règles. Le droit est ainsi le
reflet d’une société. C’est ainsi qu’en 1804, les rédacteurs du Code civil se sont inspirés
des coutumes qui régissaient les rapports sociaux de l’époque pour les fixer dans des
textes. À l’inverse de cette conception, le droit peut se montrer interventionniste et
devenir un moyen de guider la société ou de corriger certaines pratiques. Par exemple,
en matière économique, l’instauration de telle ou telle fiscalité est le moyen de favoriser
certaines activités ou d’en freiner d’autres.
<ion-list>
<ion-title size="small" color="danger">Paragraphe II – De quelle logique relève notre droit</ion-title></ion-list>
La distinction entre droit public et droit privé repose à l’origine sur une volonté de
clarification pédagogique, qui a conduit à une distinction doctrinale qui se justifie de
plus en plus difficilement. La typologie droit public et droit privé permet une explication
simple du système de lecture de notre organisation juridictionnelle et permet
de donner une vue d’ensemble des règles de droit. Cependant, la distinction est trop
simpliste pour rendre compte de façon satisfaisante de la réalité.
Enfin, il existe désormais une branche autonome du droit que l’on ne peut plus ignorer
tant son impact est grand sur le droit national : il s’agit du droit communautaire.
Il faut noter que le droit communautaire ne connait pas la distinction française entre
droit public et droit privé.
<ion-list><ion-title size="small">A – La dualité des règles</ion-title></ion-list>
<ion-list><ion-title size="small">1. Une distinction pédagogique</ion-title></ion-list>
La distinction entre droit public et droit privé repose à l’origine sur une volonté de
clarification pédagogique, qui a conduit à une distinction doctrinale. La typologie
droit public et droit privé permet une explication simple du système de lecture de
notre organisation juridictionnelle et fournit une vue d’ensemble des règles de droit.
La distinction entre droit public et droit privé permet de délimiter le champ des règles
applicables aux relations entre particuliers et celui des règles applicables aux relations
entre les particuliers et les personnes de droit public :
<ion-list><ion-title size="small">• Le droit privé recoupe donc l’ensemble des règles juridiques qui régissent les rapports
entre les particuliers ou, plus précisément, les personnes morales de droit
privé.</ion-title></ion-list>
<ion-list><ion-title size="small">• Par opposition au droit privé, le droit public est l’ensemble des règles qui régissent
l’organisation de l’État et des collectivités publiques, ainsi que leurs rapports avec
les particuliers.</ion-title></ion-list>
<ion-list><ion-title size="small">2. Des vertus limitées</ion-title></ion-list>
La distinction entre droit public et droit privé, si elle a des vertus pédagogiques certaines,
ne doit pourtant pas être prise au pied de la lettre. Il n’existe pas entre ces
deux disciplines de frontière parfaitement étanche. De plus en plus, le droit public
rencontre le droit privé et l’un agit sur l’autre de façon continue, de telle sorte que 
les évolutions doctrinales et jurisprudentielles leur sont souvent communes. C’est par
exemple le cas en matière de responsabilité, lorsque la juridiction administrative a
commencé à abandonner une distinction ancienne entre faute simple et faute lourde,
que le juge judiciaire avait imaginé mais qu’il n’appliquait plus depuis longtemps.
C’est encore le cas lorsque le juge judiciaire développe un système de responsabilité
sans faute sur un modèle semblable à celui imaginé par le juge administratif. Ce dialogue
réciproque entre les deux branches du droit est renforcé par la jurisprudence de
la Cour de justice des communautés européennes qui ignore la distinction.
La sphère du droit public et du droit privé trouve en outre un terrain de compromis,
car on applique du droit public dans des situations de droit privé et inversement.
<ion-list><ion-title size="small">B – La dualité de juridiction</ion-title></ion-list>
La dualité entre droit public et droit privé s’est traduite, en France, pour des raisons
historiques sur lesquelles nous reviendrons, par une dualité de juridictions. Droit public
et droit privé se distinguent par des règles de natures différentes, mais également
par l’existence de juridictions distinctes, spécialisées dans l’application du droit privé
pour le juge judiciaire, ou du droit public pour le juge administratif.
Cette distinction entre juridiction ordinaire ou de droit commun et juge administratif
n’est pas sans importance. D’une part, parce que la détermination de la juridiction
compétente détermine le plus souvent le droit applicable. Cela suppose l’existence
de règles de répartition des compétences et une juridiction chargée de trancher les
conflits susceptibles de survenir entre les deux ordres de juridictions. D’autre part,
les deux ordres de juridictions se distinguent également quant au statut de leurs
membres. Car, si les membres des tribunaux judiciaires sont des magistrats dont le
statut est prévu par la Constitution, les membres de la juridiction administrative ont le
statut de fonctionnaire et sont plus directement liés au pouvoir exécutif (depuis 1992,
les membres des tribunaux administratifs et cours administratives d’appel ont le statut
de magistrat).
La distinction entre droit public et droit privé, si elle a des vertus pédagogiques certaines
ne doit pourtant pas être prise au pied de la lettre. Il n’existe pas entre ces
deux disciplines de frontière parfaitement étanche. De plus en plus, le droit public
rencontre le droit privé et l’un agit sur l’autre de façon continue, de telle sorte que les
évolutions doctrinales et jurisprudentielles leur sont souvent communes. La sphère du
droit public et du droit privé trouve de nombreux compromis.
<ion-list><ion-title size="small" color="danger">Paragraphe III – Qu’est-ce que le droit public ?</ion-title></ion-list>
Le droit public, auquel nous allons consacrer l’exclusivité de cet ouvrage, se compose
du droit constitutionnel, du droit administratif et des finances publiques. Néanmoins,
nous ne nous attarderons pas sur cette troisième branche du droit public dès lors
qu’elle ne concerne pas le programme que nous allons développer par la suite.
<ion-list><ion-title>A – Le droit constitutionnel</ion-title></ion-list>
Le droit constitutionnel, sous sa forme classique, s’attache à l’étude de l’organisation
des pouvoirs et des relations entre les différentes institutions de l’État. Autrement
dit, le droit constitutionnel c’est d’abord l’étude des modalités selon lesquelles sont
organisés la séparation des pouvoirs, les relations entre l’exécutif et le législatif, les
rapports entre le président de la République et le Premier ministre, les modes de scrutins...
Cet aspect du droit constitutionnel, même s’il est encore et largement le plus
répandu, est insuffisant à rendre compte de l’ensemble de la discipline. Celle-ci comporte
en effet un second aspect plus moderne qui tend à se développer de plus en
plus, et qui consiste en la protection des droits fondamentaux (liberté d’expression,
liberté de religion, droit de propriété, principe d’égalité…).
<ion-list><ion-title size="small">B – Le droit administratif</ion-title></ion-list>
Le droit administratif est d’abord le droit de l’administration, ce qui exclut donc, en
principe, les personnes privées, même si dans certaines hypothèses le droit administratif
leur est applicable (exemple : contrat administratif passé par une personne privée
agissant pour le compte d’une personne publique).
De la même façon, il faut exclure du champ d’application du droit administratif certaines
activités publiques qui ne relèvent pas directement du droit administratif. Ainsi,
certaines autorités administratives sont aussi des autorités politiques, comme le président
de la République ou le Premier ministre. Ce sont des autorités mixtes.
Il ne faut pas confondre non plus le secteur administratif avec l’activité productive de
l’ensemble des activités publiques. Souvent, l’administration se comporte de façon
semblable à un entrepreneur privé en remplissant une mission industrielle et commerciale
dans des conditions similaires à celles d’une entreprise. L’administration est alors
soumise à une obligation de rentabilité qui justifie qu’elle n’intervienne pas avec les
outils traditionnels du droit administratif.
Le droit administratif est donc le droit qui s’applique à l’administration lorsqu’elle endosse
certaines missions. Certaines de ses missions se rattachent à la notion de souveraineté,
c’est par exemple le cas de tout ce qui relève de l’armée, de la police, de la diplomatie...
D’autres concernent de façon générale la vie en société, c’est par exemple
le cas lorsque l’administration doit accorder des agréments nécessaires à l’exercice
de certaines activités, ou doit exercer certains contrôles ou réglementer l’activité des
particuliers. Enfin, il arrive aussi que l’administration soit amenée à être prestataire
de certains services au bénéfice de la communauté, ou à construire des bâtiments
(ouvrages publics). Pour l’ensemble de ces activités, l’administration est soumise à un
droit autonome qui fera l’objet d’une étude détaillée dans les leçons suivantes.
Le droit administratif est un droit dérogatoire au droit applicable aux particuliers.
L’activité de l’administration doit pouvoir bénéficier d’un régime particulier et adapté
aux conditions dans lesquelles elle agit. Ces règles, nous l’avons vu plus haut, ne sont
pas systématiquement opposées à celles applicables aux particuliers, mais le droit administratif
constitue un savoir autonome.
D’origine largement jurisprudentiel, le droit administratif trouve ses sources dans les
arrêts du Conseil d’État, qui depuis la fin du XIXe siècle a façonné un ensemble cohérent
de règles régissant les activités de l’administration et protégeant les particuliers
contre l’arbitraire. L’oeuvre du juge administratif a ensuite été relayée par la doctrine
qui a tenté de systématiser la jurisprudence dans des manuels et des traités sans cesse
plus nombreux. Néanmoins, le droit applicable à l’administration n’a cessé de croître.
Aujourd’hui, le droit administratif touche à des domaines aussi vastes que nombreux :
droit de la fonction publique applicable aux personnels de l’administration, droit administratif
des biens, droit des contrats administratifs, droit de la responsabilité administrative...
<ion-list><ion-title size="small">C – Les finances publiques</ion-title></ion-list>
Les finances publiques désignent l’étude des règles et des opérations relatives aux deniers
publics. Les finances publiques peuvent aussi être présentées comme l’ensemble
des règles gouvernant les finances de l’État, des collectivités locales, des organismes
de sécurité sociale, des établissements publics et de toute autre personne morale de
droit public. Les finances publiques recoupent à la fois les règles relatives à la détermination,
au calcul et au recouvrement de l’impôt (droit fiscal) et les règles relatives
au vote, à l’exécution et au contrôle des budgets des personnes de droit public (droit
budgétaire).
<ion-list><ion-title size="small">D – Le droit communautaire</ion-title></ion-list>
Le droit communautaire est constitué par l’ensemble des règles issues de l’Union européenne.
Il prend soit la forme de traités (on parle alors de droit communautaire
originel) soit celle de normes édictées par les institutions de l’Union que l’on nomme
directives et règlements (on parle alors de droit communautaire dérivé). Ces normes
sont soit directement applicables dans l’ordre interne, soit doivent faire l’objet d’une
mesure de transposition. Aujourd’hui, une large part du droit applicable en France est
d’origine communautaire.
<ion-list><ion-title size="small" color="danger">Le principe de légalité
et la hiérarchie des normes</ion-title></ion-list>

Le principe de légalité est la règle fondamentale sur laquelle repose notre ordonnancement
juridique. De façon sommaire, on peut résumer le principe de légalité
par l’obligation faite à la puissance publique de se soumettre au droit.
Il nous faudra donc envisager la signification et la mise en oeuvre du principe de
légalité avant de faire l’inventaire des sources du droit auquel l’administration est
soumise.
<ion-list><ion-title size="small">1. La signification du principe de légalité et sa mise
en oeuvre</ion-title></ion-list>
Le principe de légalité signifie que l’action de la puissance publique est soumise au
respect du droit (1.1). Pour que ce principe soit effectif, il suppose que le juge veille
à sa mise en oeuvre (1.2).
<ion-list><ion-title size="small">1.1 La soumission de l’action de la puissance publique au droit</ion-title></ion-list>
Dans sa forme primitive, le principe de légalité exprime la soumission de l’administration
au droit. L’administration est soumise à des règles qui déterminent par
avance les modalités et le cadre de son action. Dans un État de droit, par opposition
à l’État de police, la puissance publique est soumise à des règles qui préexistent à
son action. Le souverain ne peut agir selon son bon vouloir. La plupart des règles
auxquelles l’administration est soumise lui sont extérieures.
C’est le cas de la Constitution qui contraint le législateur lorsqu’il fait la loi. D’autres
règles émanent de l’administration elle-même lorsqu’elle édicte des règlements. Ces
règles s’imposent de la même façon à l’administration lorsqu’elle doit prendre une
décision individuelle. Par exemple, lorsque le maire est saisi d’une demande d’autorisation
de construire, il doit l’examiner au regard des dispositions réglementaires d’urbanisme
contenues dans le plan local d’urbanisme. Le principe de légalité permet de
protéger l’administré et le citoyen contre l’arbitraire de l’administration. Il constitue
à la fois une limite à l’action de l’administration (la loi pose des interdictions) et un
cadre à son action (la loi dicte à l’administration sa conduite).
<ion-list><ion-title size="small">1.2 Le contrôle de l’action de l’administration par le juge</ion-title></ion-list>
Pour que le principe de légalité soit effectif, il faut que le juge soit en mesure d’en imposer
le respect. Il appartient au juge de s’assurer que la puissance publique respecte
la règle de droit. Ce processus exige non seulement l’existence de juridictions capables
de faire respecter la règle de droit mais également des procédures adéquates permettant
au justiciable de faire valoir son droit.
<ion-list><ion-title size="small">2. Les sources de la légalité et leur hiérarchie</ion-title></ion-list>
L’étude des sources de la légalité renvoie à l’ensemble des règles qui s’appliquent
à l’action de l’administration (2.1). Ces règles sont d’origines diverses, mais leur valeur
n’est pas identique. Certaines sont plus importantes que d’autres et doivent être
mieux protégées. Il convient donc d’établir une hiérarchie entre les différentes sources
du droit applicable à l’administration (2.2).
<ion-list><ion-title size="small">2.1 Les sources de la légalité</ion-title></ion-list>
Les sources de la légalité sont plurielles. Il existe des sources écrites comme la Constitution,
les traités, la loi ou les règlements, mais il existe également des sources non
écrites ; il s’agit de principes juridiques que le juge énonce, ou de la coutume. Une dernière
source particulièrement originale mérite un développement spécifique, il s’agit
de la jurisprudence.
<ion-list><ion-title size="small">1. Les sources écrites</ion-title></ion-list>
<ion-list><ion-title size="small">a. La Constitution</ion-title></ion-list>
La Constitution est le texte fondamental, c’est-à-dire celui qui a la plus grande importance
juridique. La Constitution est la norme suprême, puisqu’elle délimite les domaines
dans lesquels peuvent intervenir les autres sources de la légalité. D’un point
de vue matériel, la Constitution s’entend de l’ensemble des normes qui organisent la
séparation et l’organisation des pouvoirs mais qui assurent également le respect des
droits de l’homme. La Constitution du 4 octobre 1958 fixe ainsi un certain nombre de
principes fondamentaux qui régissent le fonctionnement de nos institutions. À titre
d’exemple, on retiendra que la Constitution fixe :
<ion-list><ion-title size="small">- les règles concernant les autorités de l’État (pouvoirs du président de la République
et du Premier ministre, compétence du Parlement…) ;</ion-title></ion-list>
<ion-list><ion-title size="small">- la Constitution fixe également les principes d’unité et d’égalité ainsi que le secret
du suffrage (article 3) ;</ion-title></ion-list>
<ion-list><ion-title size="small">- la Constitution fixe encore le principe de libre administration des collectivités territoriales
(article 72).</ion-title></ion-list>
Depuis une importante décision du Conseil constitutionnel du 16 juillet 1971, la Déclaration
des droits de l’homme et du citoyen de 1789 et le Préambule de la Constitution
de 1946 (qui pose notamment le droit de grève ou la liberté d’association), font également
partie de la Constitution. À partir de cette date on parlera de « bloc de constitutionnalité
», car la Constitution est le résultat de la combinaison de trois textes : le
texte de 1958, celui de 1789 et le préambule de 1946. Il faut également depuis 2004
rajouter à la Constitution la Charte des droits de l’environnement.
<ion-list><ion-title size="small">b. Les traités internationaux</ion-title></ion-list>
<p>Les traités internationaux sont une source de plus en plus importante du droit interne.
Traditionnellement, les traités internationaux ont pour objet unique de régir des rapports
entre États (on parlera alors de conception dualiste de l’ordre international et
de l’ordre interne). Par exemple, le traité de l’ONU ou encore le traité de l’OTAN. Ces
traités n’ont pas d’effet direct sur les individus.</p>
<p>En revanche, certains traités produisent des droits et des obligations dans l’ordre interne.
Par exemple, les traités de l’Union européenne, s’ils organisent des rapports
entre États, posent également des principes et des règles qui s’imposent aux États
membres et que les justiciables peuvent invoquer au cours d’un procès.</p>
<p>Le cas de l’Union européenne est en outre très particulier puisqu’il s’agit d’une organisation
supranationale dont les institutions ont la possibilité d’édicter des normes
appelées règlements et directives. Alors que les règlements communautaires sont directement
applicables, les directives doivent être transposées dans l’ordre interne soit
par une loi, soit par un règlement interne. Concrètement, cela signifie que, dans certaines
circonstances, l’administration est dans l’obligation de se conformer aux règles
du droit communautaire.</p>
<p>Deux décisions particulièrement importantes ont été rendues par le Conseil d’État le
8 février 2007 sur la question toujours sensible des rapports entre le droit interne et
le droit international.</p>
<p>Dans une première affaire, Société Arcelor (n° 287110), le Conseil d’État avait à résoudre
l’épineuse question posée par une directive communautaire, visant à mettre
en oeuvre les dispositions du protocole de Kyoto sur la limitation de l’émission de gaz
à effet de serre. La société requérante arguait, notamment, que le décret du 19 août
2004 qui avait pour objet de transposer la directive susmentionnée du 13 octobre 2003
en droit français portait atteinte aux principes constitutionnels de la liberté d’entreprendre et du droit de propriété. Autrement dit, 
contester la conformité à la Constitution de la
directive de 2003.</p>
<p>Contrairement à sa position antérieure, le Conseil d’État a jugé
que, dans cette situation, il lui appartenait « de rechercher s’il existe une règle ou un
principe général du droit communautaire qui, eu égard à sa nature et à sa portée, [...]
garantit par son application l’effectivité du respect de la disposition ou du principe
constitutionnel invoqué ». Ce qui revient à dire que pour juger de la constitutionnalité
du décret, le juge administratif va vérifier que la directive communautaire est
elle-même conforme à cette règle ou à ce principe général du droit communautaire.</p>
Cette décision est particulièrement novatrice car, si on savait depuis longtemps que le
juge administratif était le juge naturel du contrôle de la conformité du droit interne
français au droit communautaire (CE, 20/10/1989, Nicolo), c’est la première fois que le
Conseil d’État se déclare compétent pour juger de la conformité d’une norme européenne
par rapport à une autre norme européenne. Cette position jurisprudentielle
est susceptible d’avoir des conséquences importantes pour l’administration territoriale
en cas de contentieux, dans les secteurs « classiques » des politiques publiques
européennes tels l’environnement, les marchés publics, la politique de cohésion, l’aide
aux entreprises, etc.
Dans une seconde affaire, Gardedieu (n° 279522), le Conseil d’État a jugé que l’État
pouvait être responsable du fait d’une loi adoptée en méconnaissance des engagements
internationaux de la France. Une loi du 25 juillet 1994 avait été prise pour
s’appliquer immédiatement dans des litiges alors en cours devant le tribunal des affaires
de sécurité sociale. Cela revenait à changer les « règles du jeu » en cours de
procès. Une des « victimes » de cette loi a fait valoir qu’une telle pratique revenait à
méconnaître l’article 6 de la Convention européenne des droits de l’homme (CEDH),
qui consacre le droit à un procès équitable. Le Conseil d’État lui a donné raison en
condamnant la France à lui réparer le préjudice causé par le vote d’une loi contraire à
un traité international dont la France est partie.
Encore plus récemment, le Conseil d’État a poursuivi l’intégration du droit communautaire
dans le droit interne. Ainsi, par un arrêt Mme A. du 30 octobre 2009 (n° 298348),
le juge a estimé que tout justiciable peut se prévaloir, à l’appui d’un recours contre un
acte administratif non réglementaire, « des dispositions précises et inconditionnelles
d’une directive », lorsque l’État n’a pas pris, dans les délais impartis, les mesures de
transposition nécessaires. Ce qui signifie également que les autorités nationales, après
l’expiration des délais impartis, ne peuvent laisser subsister des dispositions réglementaires,
ni continuer à faire application de règles, écrites ou non écrites, de droit national
qui ne seraient pas compatibles avec les objectifs définis par les directives. Et c’est
au juge national, juge de droit commun de l’application du droit communautaire, de
garantir l’effectivité des droits que toute personne tient de ce droit.
<ion-list><ion-title size="small">c. La loi</ion-title></ion-list>
La loi est la norme votée par le Parlement au terme d’une procédure définie par la
Constitution. Cependant, depuis 1958, le domaine de la loi est délimité.
<ion-list><ion-title size="small">• Le domaine de la loi</ion-title></ion-list>
L’article 34 de la Constitution définit les matières dans lesquelles la loi peut intervenir.
Par exemple, c’est la loi qui fixe le statut des fonctionnaires, les règles d’acquisition de
la nationalité… L’article 37 prévoit que tout ce qui ne fait pas partie du domaine de la
loi relève de la compétence du pouvoir réglementaire.
<ion-list><ion-title size="small">• La procédure d’élaboration de la loi</ion-title></ion-list>
L’élaboration de la loi peut se faire soit à l’initiative du gouvernement (on parle de
projet de loi), soit à l’initiative du Parlement (on parle alors de proposition de loi).
Une fois déposée devant le bureau de l’une des deux assemblées qui composent le
Parlement (Assemblée nationale et Sénat), la loi, pour être adoptée, doit être votée
en termes identiques par les deux assemblées. Le texte de loi en cours d’élaboration
fait donc la navette entre les deux assemblées jusqu’à son adoption définitive. Toutefois,
pour que la procédure parlementaire ne s’éternise pas, une commission mixte
paritaire composée de membres des deux assemblées discute après la seconde lecture
des dispositions qui font encore l’objet d’un désaccord. La commission mixte paritaire
est chargée de trouver un compromis. Si elle y parvient, le texte est définitivement
adopté par les deux assemblées. Si le désaccord persiste, l’Assemblée nationale votera
seule le texte en dernière lecture, on dit alors qu’elle a le « dernier mot ».
Une fois la loi votée, elle doit encore être promulguée par le président de la République
pour devenir exécutoire. Toutefois, le Conseil constitutionnel peut être saisi de
la loi votée pour en contrôler la conformité à la Constitution, avant que le Président
ne la promulgue. Le Conseil constitutionnel est un organe juridictionnel créé par la
Constitution de 1958, chargé de contrôler la conformité de la loi par rapport à la
Constitution. Par exemple, le Conseil pourrait déclarer contraire à la Constitution une
loi qui méconnaîtrait le principe de libre administration des collectivités territoriales
formulé par l’article 72 de la Constitution. Ses membres sont au nombre de 9. Trois
sont nommés par le président de la République, trois par le président de l’Assemblée
nationale et trois par le président du Sénat. La durée de leur fonction est de neuf ans
non renouvelable.
Si le Conseil déclare la loi contraire à la Constitution (par exemple une loi contraire au
principe de libre administration des collectivités territoriales posé par l’article 72 de
la Constitution), elle ne peut pas être promulguée. Peuvent saisir le Conseil constitutionnel
le président de la République, le Premier ministre, les présidents de chacune
des deux assemblées et, depuis 1974, 60 députés ou 60 sénateurs. Depuis une révision
de la Constitution de 2008, le Conseil constitutionnel peut indirectement être saisi par
des justiciables. Le mécanisme ouvert aux citoyens devant les juridictions ordinaires
s’appelle l’exception d’inconstitutionnalité.
<ion-list><ion-title size="small">d. Les règlements</ion-title></ion-list>
La notion de règlement se comprend en contrepoint du domaine de la loi, puisqu’aux
termes de l’article 37 de la Constitution, ce qui ne fait pas partie de la loi relève du règlement.
Pourtant, la notion de règlement est plus complexe qu’il n’y paraît. En effet,
le règlement est multiforme. Le règlement autonome est celui qui relève de l’article
37 de la Constitution. Il appartient seulement au Premier ministre. Par exemple, l’instauration
de nouvelles catégories de crimes ou délits (infractions pénales) relève du 
domaine de la loi et donc de la compétence du Parlement. En revanche, l’instauration
de nouvelles contraventions (sanction pénale non privative de liberté) relève du domaine
du pouvoir réglementaire et donc de la compétence du Premier ministre.
À côté du pouvoir réglementaire autonome, il existe un pouvoir réglementaire dérivé
qui appartient aux ministres. Dans certains cas, le Parlement peut confier à un ministre
le soin de compléter une loi ou de prendre les mesures nécessaires à son application.
Le pouvoir réglementaire est dérivé de la loi. Par exemple, lorsque le Parlement modifie
le régime indemnitaire d’une catégorie de fonctionnaires, il peut confier au ministre
compétent la responsabilité de déterminer les critères selon lesquels les agents
de son administration pourront bénéficier des dispositions votées par le Parlement.
2. Les sources non écrites
a. La coutume
La coutume se compose de deux éléments. L’élément matériel est la répétition d’une
pratique dans le temps. L’élément psychologique est la croyance dans le caractère obligatoire
de la coutume. Tout le monde se comporte vis-à-vis de la coutume comme si
elle faisait la règle. La coutume est une source primitive du droit et archaïque. En 1804
les rédacteurs du Code civil on en réalité codifié les coutumes en vigueur à l’époque.
À partir de ce moment, la coutume est tombée en désuétude au profit des sources
écrites qui sont jugées plus fiables. En effet, en cas de doute sur le contenu de la règle,
il suffit de se référer au texte. La coutume présente l’avantage d’être plus souple que
l’écrit – en revanche, elle est plus incertaine dans le temps et dans l’espace (la pratique
peut varier d’un endroit à un autre).
Ainsi, le droit constitutionnel moderne est largement un droit écrit (même si le droit
anglo-saxon fait exception à la règle). À l’origine, le droit que fixe les règles de fonctionnement
des pouvoirs est un droit coutumier. Sous l’Ancien Régime ces règles sont
largement inspirées des lois saliques (règles de succession à la couronne, interdiction
des apanages…) ; mais à la Révolution et notamment avec la Déclaration de 1789,
l’écrit l’emporte sur la coutume.
<ion-list><ion-title size="small">b. Les principes généraux du droit</ion-title></ion-list>
Les principes généraux du droit sont des principes de portée générale que le juge découvre
en s’inspirant de la tradition législative. Cette technique a été inaugurée après
la Seconde Guerre mondiale par le juge administratif. Le premier principe formulé a
été le respect des droits de la défense consacré par le Conseil d’État comme un principe
général du droit dans un arrêt du 5 mai 1944, Dame veuve Trompier-Gravier. Le Conseil
constitutionnel a repris la théorie à son profit et formule des principes à valeur constitutionnelle.
Le recours à la technique des principes généraux du droit a eu une très grande
importance dans la formation du droit administratif et du droit constitutionnel.
<ion-list><ion-title size="small">c. La jurisprudence</ion-title></ion-list>
Le terme jurisprudence a un double sens. Il signifie, au sens large, l’ensemble des décisions
rendues par une juridiction. On parlera de la jurisprudence du Conseil constitutionnel
pour désigner l’ensemble des décisions rendues par le Conseil. Le terme
jurisprudence a également une signification plus étroite, il désigne alors une décision
particulière prise par la juridiction au travers de laquelle celle-ci a réglé une question
de droit nouvelle.
Le rôle du juge, et plus particulièrement celui du Conseil constitutionnel, est très important,
car ce dernier n’est plus strictement « bouche de la loi », comme l’aurait
voulu Montesquieu. Il ne se contente pas d’appliquer mécaniquement la loi aux cas
concrets. Au contraire, il se livre à un travail d’interprétation particulièrement créatif.
Ainsi, le Conseil, dans le cadre du contrôle de constitutionnalité des lois, est conduit
à interpréter le texte de la Constitution. Ce travail d’interprétation peut le conduire
à donner un sens au texte, et parfois même un sens différent de celui qui a été pensé
par les rédacteurs du texte constitutionnel. Par exemple, l’article 1 de la Déclaration
des droits de l’homme et du citoyen de 1789 (DDHC) qui formule le principe d’égalité.
Aux termes de l’article 1, les hommes naissent et demeurent libre et égaux en droit. En
1789, au moment de la rédaction de la DDHC, le terme « homme » doit s’entendre de
façon étroite, ce qui exclu les femmes. Bien sûr, aujourd’hui, lorsque le Conseil fait référence
au principe d’égalité, le mot « Homme » a pris un H majuscule puisqu’il s’agit
du genre humain. Le Conseil constitutionnel a adapté la signification du principe aux
évolutions contemporaines de la société. Il n’en demeure pas moins que par son travail
d’interprétation, il fait vivre le texte constitutionnel.
Certains regretteront cependant la place exagérée donnée au juge dans nos sociétés
contemporaines. En effet, il n’est pas rare que l’on confie au juge le soin de régler des
questions de société fondamentales qui ne relèvent pas strictement de sa compétence.
Il en va ainsi lorsque le juge est amené à se prononcer sur des questions aussi fondamentales
que l’adoption par des couples homosexuels, le droit à l’euthanasie… Il est
permit de s’interroger sur la légitimité du juge face à de tels questionnements.
<ion-list><ion-title size="small">2.2 La hiérarchie entre les différentes normes</ion-title></ion-list>
La multiplication des sources de la légalité suppose une hiérarchie de ses différentes
normes, de la plus importante à la moins importante. Cette hiérarchie prend la forme
d’une pyramide. Cette conception du droit a été développée par un juriste autrichien
du nom de Hans Kelsen afin de « dégager le droit de ses fondements idéologiques
et moraux, pour n’en faire qu’une technique de régulation, une pure technique au
service de l’État laïc ».
Selon cette théorie, toute règle de droit doit respecter la norme qui lui est supérieure,
formant ainsi un ordre hiérarchisé. Plus elles sont importantes, moins les normes étant
nombreuses, la superposition des normes acquiert ainsi une forme pyramidale, ce qui
explique pourquoi cette théorie est appelée pyramide des normes.
Cet ordre est qualifié de statique car les normes inférieures se doivent de respecter
les normes qui leur sont supérieures, mais il est également dynamique car une norme
peut être modifiée en suivant les règles édictées par la norme qui lui est supérieure.
La norme placée au sommet de la pyramide étant, dans de nombreux systèmes juridiques,
la Constitution. La question de la hiérarchie des normes est l’une des plus fondamentales
du droit contemporain. C’est même sans doute la plus fondamentale, dès
lors que l’ensemble de notre architecture juridique repose sur le postulat qu’il existe
un rapport hiérarchique entre les différentes normes.
</ion-content>
