<ion-header>
  <ion-toolbar color="danger">
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
 <ion-buttons slot="start">
      <ion-back-button defaultHref="home"  (click)="showInterstitial()"></ion-back-button>
    </ion-buttons>
    <ion-title>Sommaire</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
<ion-list><ion-title text-center>Préparation au concours</ion-title></ion-list>
<ion-list><ion-title size="small" text-center>Rédacteur territorial - Catégorie B</ion-title></ion-list>
<ion-list><ion-title color="danger" text-center> 3e édition</ion-title></ion-list>
<ion-list><ion-title text-center>Samuel Dyens et Eric Guérin</ion-title></ion-list><br>
<ion-list><p>
Droit public
Cette nouvelle édition intègre la réforme territoriale du 16 décembre
2010 qui impacte donc tous les chapitres concernés. A jour des
évolutions législatives et constitutionnelles en vigueur, cette 3ème
édition permettra au candidat de préparer les concours et d’acquérir
les connaissances juridiques fondamentales.</p>

<p>
Les auteurs sont formateurs dans les délégations et les Instituts
nationaux spécialisés des études territoriales du CNFPT. Ce manuel
bénéficie donc de leur expérience et de leur expertise.</p>
<p>
Samuel Dyens est directeur général adjoint des services du Conseil
général du Gard après avoir exercé les fonctions de directeur des
affaires juridiques. Membre de l’Association des juristes des
collectivités territoriales (AJCT), il est chargé d’enseignement à
l’Université de Nîmes et de formation dans plusieurs délégations
régionales et Inset du CNFPT. Il publie régulièrement dans les revues
spécialisées sur la déontologie, la fonction publique et le droit des
collectivités territoriales.</p>
<p>
Eric Guérin est Docteur en droit public et membre du Centre de
traitement de l’information juridique (CETIJ) de l’Université de
Montpellier I.</p>

</ion-list>
<ion-list>
<ion-title size="small" color="danger">
INTRODUCTION GENERALE 
</ion-title>
</ion-list>
<ion-list>
Paragraphe I – De quelle discipline relève notre domaine </ion-list>
<ion-list>
Paragraphe II – De quelle logique relève notre droit</ion-list>
<ion-list>
Paragraphe III – Qu’est-ce que le droit public ?</ion-list>
<ion-list>
<ion-title size="small" color="danger">
Chapitre liminaire Le principe de légalité et la hiérarchie
des normes.</ion-title> </ion-list>
<ion-list>
1. La signification du principe de légalité et sa mise en oeuvre </ion-list>
<ion-list>
1.1 La soumission de l’action de la puissance publique au droit.</ion-list>
<ion-list>
1.2 Le contrôle de l’action de l’administration par le juge.</ion-list>
<ion-list>
2. Les sources de la légalité et leur hiérarchie.</ion-list>
<ion-list>
2.1 Les sources de la légalité.</ion-list>
<ion-list>
2.2 La hiérarchie entre les différentes normes. </ion-list>
<ion-list>
<ion-title size="small" color="danger">
Titre 1 L’ORGANISATION ADMINISTRATIVE DE LA FRANCE</ion-title> </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre liminaire Les institutions de l’Union européenne. </ion-title></ion-list>
<ion-list>
1. Les principaux traits des institutions communautaires.</ion-list> 
<ion-list>
1.1 Les grandes étapes de la construction de l’Europe. </ion-list>
<ion-list>
1.2 Présentation des institutions de l’Union européenne. </ion-list>
<ion-list>
1.3 La réforme des institutions européennes issue du traité de Lisbonne.</ion-list>
<ion-list>
2. L’influence de l’Europe sur l’organisation administrative des collectivités

territoriales. </ion-list>
<ion-list>
2.1 La construction communautaire souligne l’archaïsme de la carte
administrative française. </ion-list>
<ion-list>
2.2 La construction communautaire accompagne la recomposition du territoire.
</ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 1 Le cadre et les principes de l’organisation
adminis trative de la France. </ion-title></ion-list>
<ion-list>
1. Le cadre de l’État unitaire.</ion-list>
<ion-list>
1.2 Les différentes formes d’État. </ion-list>
<ion-list>
2. Les principes d’organisation de l’État unitaire. </ion-list>
<ion-list>
2.1 La centralisation et la déconcentration. </ion-list>
<ion-list>
2.2 La décentralisation.</ion-list>
<ion-list>
3. L’évolution des principes d’organisation de l’État en France. </ion-list>
<ion-list>
3.1 L’histoire de la décentralisation. </ion-list>
<ion-list>
3.2 Les structures territoriales de la pyramide administrative française. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 2 L’organis ation politique et adminis trative de l’État.</ion-title></ion-list>
<ion-list>
1. Le président de la République et le gouvernement. </ion-list>
<ion-list>
1.1 Le président de la République. </ion-list>
<ion-list>
1.2 Le gouvernement. </ion-list>
<ion-list>
1.3 La réforme constitutionnelle des institutions.</ion-list>
<ion-list>
2. L’organisation administrative centralisée de l’État. </ion-list>
<ion-list>
2.1 Les autorités administratives suprêmes. </ion-list>
<ion-list>
2.2 Le découpage de l’administration en départements ministériels.</ion-list>
<ion-list>
3.L’organisation de l’Administration territoriale de l’Etat.</ion-list>
<ion-list>
3.1 L’organisation historique de l’Administration territoriale de l’Etat.</ion-list>
<ion-list>
3.2 La nouvelle organisation de l’Administration territoriale de l’Etat. </ion-list>
<ion-list>
4. L’organisation consultative de l’État.</ion-list>
<ion-list>
4.1 Le Conseil d’État.</ion-list>
<ion-list>
4.2 Le Conseil économique, social et environnemental et le conseil économique
et social régional.</ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 3 L’organisation décentralisée de la République :
les collectivités territoriales.</ion-title></ion-list>
<ion-list>
1. L’organisation actuelle des collectivités territoriales. </ion-list>
<ion-list>
1.1 La commune. </ion-list>
<ion-list>
1.2 Les compétences de la commune. </ion-list>
<ion-list>
1.3 L’intercommunalité .</ion-list>
<ion-list>
1.4 Le département </ion-list>
<ion-list>
1.5 La Région . </ion-list>
<ion-list>
1.6 Le statut de Paris, Lyon et Marseille . </ion-list>
<ion-list>
1.7 Les collectivités territoriales à statut particulier. </ion-list>
<ion-list>
2. Evolution ou révolution ? La loi du 16 décembre 2010 de réforme
des collectivités territoriales. </ion-list>
<ion-list>
2.1 Un foisonnement de réflexion et de propositions. </ion-list>
<ion-list>
2.2 Les impacts de la loi du 16 décembre 2010 sur l’organisation territoriale
et l’exercice des compétences . </ion-list>
<ion-list><ion-title size="small" color="danger">
Titre 2 L’ACTION DE L'ADMINISTRATION.</ion-title></ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 1 La police administrative. </ion-title></ion-list>
<ion-list>
1. La notion de police administrative. </ion-list>
<ion-list>
1.1 Police administrative et police judiciaire. </ion-list>
<ion-list>
1.2 Police générale et polices spéciales.</ion-list>
<ion-list>
2. Le domaine de la police administrative générale. </ion-list>
<ion-list>
2.1 L’ordre public comme fondement de la police administrative .</ion-list>
<ion-list>
2.2 La légalité comme cadre d’action de la police. </ion-list>
<ion-list>
3. Les autorités de police administrative . </ion-list>
<ion-list>
3.1 L’identification des autorités de police administrative . </ion-list>
<ion-list>
3.2 La mise en oeuvre des pouvoirs de police. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 2 Le service public. </ion-title></ion-list>
<ion-list>
1. La notion de service public . </ion-list>
<ion-list>
1.1 Le service public « à la française » </ion-list>
<ion-list>
1.2 L’impact du droit européen sur le service public « à la française » </ion-list>
<ion-list>
2. Les catégories de services publics : la distinction SPA/SPIC . </ion-list>
<ion-list>
2.1 Les critères de la distinction.</ion-list>
<ion-list>
2.2 Les effets de la distinction. </ion-list>
<ion-list>
3. Les principes applicables au service public .</ion-list>
<ion-list>
3.1 Les règles applicables à tous les services publics.</ion-list>
<ion-list>
4. Les règles relatives à la création et à la suppression des services publics.</ion-list>
<ion-list>
4.1 La création et la suppression des services publics nationaux.</ion-list> 
<ion-list>
4.2 La création et la suppression des services publics locaux. </ion-list>
<ion-list>
5. Les modes de gestion des services publics. </ion-list>
<ion-list>
5.1 La gestion du service public par une personne publique. </ion-list>
<ion-list>
5.2 La gestion du service public par une personne privée.</ion-list>
<ion-list>
5.3 Les sociétés d’Économie mixte.</ion-list>
<ion-list>
5.4 Les Sociétés publiques locales d’aménagement. </ion-list>
<ion-list>
5.5 Les sociétés publiques locales.</ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 3 La responsabilité adminis trative.</ion-title></ion-list>
<ion-list>
1. L’évolution du droit de la responsabilité
de l’administration.</ion-list>
<ion-list>
1.1 L’originalité de la responsabilité de l’administration.</ion-list>
<ion-list>
1.2 L’élargissement constant de la responsabilité de l’administration.</ion-list>
<ion-list>
2. Les fondements de la responsabilité de l’administration. </ion-list>
<ion-list>
2.1 La responsabilité pour faute. </ion-list>
<ion-list>
2.2 La responsabilité sans faute. </ion-list>
<ion-list>
3. Les modalités de mise en oeuvre de la responsabilité de l’administration.</ion-list>
<ion-list>
3.1 La réparation du dommage. </ion-list>
<ion-list>
3.2 L’imputation du dommage . </ion-list>
<ion-list><ion-title size="small" color="danger">
Titre 3 LES ACTES DE L'ADMINISTRATION</ion-title></ion-list>
<ion-list><ion-title size="small" color="danger" >
Chapitre 1 Les actes administratifs unilatéraux .</ion-title> </ion-list>
<ion-list>
1. L’identification des actes administratifs unilatéraux.</ion-list> 
<ion-list>
1.1 La notion d’acte administratif unilatéral. </ion-list>
<ion-list>
1.2 La classification des actes administratifs unilatéraux. </ion-list>
<ion-list>
2. Le régime des actes administratifs.</ion-list>
<ion-list>
2.1 L’élaboration de l’acte administratif. </ion-list>
<ion-list>
2.3 La fin de l’acte administratif .</ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 2 Les contrats adminis tratifs . </ion-title></ion-list>
<ion-list>
1. L’identification des contrats administratifs. </ion-list>
<ion-list>
1.1 Les contrats administratifs par détermination de la loi. </ion-list>
<ion-list>
1.2 Les contrats administratifs en vertu de critère jurisprudentiel de qualification.</ion-list>
<ion-list>
2. Le régime juridique des contrats administratifs. </ion-list>
<ion-list>
2.1 La formation du contrat. </ion-list>
<ion-list>
2.2 L’exécution du contrat. </ion-list>
<ion-list>
2.3 La fin du contrat. </ion-list>
<ion-list><ion-title size="small" color="danger">
Titre 4 LE CONTENTIEUX DE L'ADMINISTRATION </ion-title></ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 1 Les juridictions administratives. </ion-title></ion-list>
<ion-list>
1. L’organisation de la justice administrative. </ion-list>
<ion-list>
1.1 L’histoire de la justice administrative : la dualité de juridictions. </ion-list>
<ion-list>
1.2 La répartition des compétences entre les deux ordres de juridictions. </ion-list>
<ion-list>
1.3 L’organisation du Conseil d’État et des juridictions administratives. </ion-list>
<ion-list>
2. Le fonctionnement de la justice administrative.</ion-list>
<ion-list>
2.1 Les caractères généraux de la procédure administrative contentieuse. </ion-list>
<ion-list>
2.2 L’introduction du recours. </ion-list>
<ion-list>
2.3 Les procédures d’urgence. </ion-list>
<ion-list>
2.4 L’exécution des décisions. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 2 Les recours en vigueur devant les juridictions
administratives . </ion-title></ion-list>
<ion-list>
1. Les principaux recours contentieux </ion-list>
<ion-list>
1.1 Le recours pour excès de pouvoir </ion-list>
<ion-list>
1.2 Les recours de plein contentieux. </ion-list>
<ion-list>
2. Les procédures en référé.</ion-list>
<ion-list>
2.1 Le référé-suspension (art. L. 521-1 du Code de justice administrative). </ion-list>
<ion-list>
2.2 Le référé-liberté (art. L. 521-2 du Code de justice administrative). </ion-list>
<ion-list>
2.3 Le référé-précontractuel (art. L. 551-1 et L. 551-2 du Code de justice
administrative). </ion-list>
<ion-list>
2.4 Le référé-contractuel (art. L551-14 du Code de justice administrative). </ion-list>
<ion-list><ion-title size="small" color="danger">
Titre 5 LA FONCTION PUBLIQUE</ion-title></ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 1 Les sources du droit de la fonction publique. </ion-title></ion-list>
<ion-list>
1. La Constitution. </ion-list>
<ion-list>
2. Les traités. </ion-list>
<ion-list>
2.1 La mutation de la notion d’emploi public.</ion-list>
<ion-list>
2.2 L’introduction du CDI. </ion-list>
<ion-list>
3. La loi et le règlement. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 2 La notion de fonctionnaire et les grands principes
du droit de la fonction publique.  </ion-title></ion-list>
<ion-list>
1. La notion de fonctionnaire. </ion-list>
<ion-list>
1.1 Une définition générale de la notion de fonctionnaire. </ion-list>
<ion-list>
1.2 Une définition relative de la notion de fonctionnaire.</ion-list>
<ion-list>
1.3 Les autres catégories de collaborateurs de l’administration. </ion-list>
<ion-list>
2. Les grands principes du droit de la fonction publique. </ion-list>
<ion-list>
2.1 Le système de l’emploi et le système de la carrière.</ion-list>
<ion-list>
2.2 La distinction entre le grade et l’emploi. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 3 L’organisation de la fonction publique. </ion-title></ion-list>
<ion-list>
1. L’organisation de la fonction publique d’État. </ion-list>
<ion-list>
1.1 Les autorités de décision .</ion-list>
<ion-list>
1.2 Les organismes consultatifs. </ion-list>
<ion-list>
2. L’organisation de la fonction publique territoriale. </ion-list>
<ion-list>
2.1 Les autorités de décision . </ion-list>
<ion-list>
2.2 Les organismes de formation et d’aide à la décision. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 4 La carrière du fonctionnaire.</ion-title></ion-list>
<ion-list>
1. L’entrée dans la fonction publique. </ion-list>
<ion-list>
1.1 Les principes d’accès à la fonction publique. </ion-list>
<ion-list>
1.2 La nomination à un emploi. </ion-list>
<ion-list>
2. Le déroulement de la carrière. </ion-list>
<ion-list>
2.1 L’intégration dans un corps ou dans un cadre d’emploi </ion-list>
<ion-list>
2.2 Les différentes positions statutaires . </ion-list>
<ion-list>
3. La fin de la carrière . </ion-list>
<ion-list>
3.1 La fin normale de la carrière.</ion-list>
<ion-list>
3.2 Les modes forcés de cessation de fonction. </ion-list>
<ion-list><ion-title size="small" color="danger">
Chapitre 5 Les droits et obligations du fonctionnaire. </ion-title></ion-list>
<ion-list>
1. Les droits du fonctionnaire.</ion-list>
<ion-list>
1.1 Les droits du citoyen. </ion-list>
<ion-list>
1.2 Les droits du salarié. </ion-list>
<ion-list>
1.3 Les droits spécifiques du fonctionnaire.</ion-list>
<ion-list>
2. Les obligations du fonctionnaire. </ion-list>
<ion-list>
2.1 Les obligations de service. </ion-list>
<ion-list>
2.2 L’obligation au silence.</ion-list> 
<ion-list>
2.3 L’obligation de réserve. </ion-list>
<ion-list>
3. La sanction des obligations. </ion-list>
<ion-list>
3.1 La procédure disciplinaire  </ion-list>
<ion-list>
3.2 La sanction disciplinaire . </ion-list>
</ion-content>
