ion-button{ 
   
   margin: 15px; 
   white-space: normal;
   font-size: 14px;
  }
  .footer{
    text-align:center;
    text-transform: uppercase;
    word-spacing: 5px;
  }
  .top{
    text-align:center;
    text-transform: uppercase;
    word-spacing: 3px;
  }